<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="firebase.curso.br.cursoandroidfirebase">

    <!-- Aplicativo terá acesso á internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Aplicativo terá acesso á internet -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/estudo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/estudo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.CadastroUsuarioActivity" />
        <activity android:name=".activitys.PrincipalActivity" />
        <activity android:name=".activitys.UploadFotoActivity" />
        <activity android:name=".activitys.CadastroUsuarioComumActivity"></activity>
    </application>

</manifest>